In [8]:
import numpy as np
import pandas as pd

data = pd.read_csv("~/Documents/auli/Data/GestureData/July10_FinnMichaelNerysPJ.csv")
data = data.loc[data["id"].isin([1,2,3,4])]

data.describe()

,ax,ay,az,gx,gy,gz,id
count,88000.000000,88000.000000,88000.000000,88000.000000,88000.000000,88000.000000,88000.00000
mean,-0.044706,-3.395374,-0.096725,-0.015509,-0.088084,-0.054741,2.50000
std,1.628626,4.550824,0.443364,4.774376,17.791502,11.749042,1.11804
min,-8.825920,-12.284700,-4.750950,-65.058700,-226.674000,-159.096000,1.00000
25%,0.000000,-9.308070,0.000000,0.000000,0.000000,0.000000,1.75000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.50000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.25000
max,5.758320,0.000000,2.738580,51.919700,178.704000,123.292000,4.00000

In [9]:
data.to_csv("./subset_Jul10.csv")